<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/assets/icons/germany.png" type="image/png">
    <link rel="stylesheet" href="/public/styles/global/variables.css">
    <link rel="stylesheet" href="/public/styles/global/menu.css">
    <link rel="stylesheet" href="/public/styles/global/head.css">
    <link rel="stylesheet" href="/public/styles/global/footer.css">
    <link rel="stylesheet" href="/public/styles/geography.css">
    <title>Geography</title>
</head>
<body>
    <header>
        <section class="flag">
            <div class="flag-size" id="flag-black"></div>
            <div class="flag-size" id="flag-red"></div>
            <div class="flag-size" id="flag-yellow"></div>
        </section>
        <nav class="menu">
            <ul>
                <li><a data-section="menu" data-value="title-one"t href="./index.html">Home</a></li>
                <li><a data-section="menu" data-value="title-two" href="./cuisine.html">Cuisine</a></li>
                <li><a data-section="menu" data-value="title-three" href="./geography.html">Geography</a></li>
                <li><a data-section="menu" data-value="title-four" href="./traditions.html">Traditions</a></li>
            </ul>
            <div id="flags" class="flags">
                <div class="flags-item" data-language="es">
                    <img src="/public/assets/icons/colombia.png" alt="">
                </div>
                <div class="flags-item" data-language="en">
                    <img src="/public/assets/icons/united-states.png" alt="">
                </div>
            </div>
            <div class="switches">
                <div id="toggle-theme" class="toggle-theme">
                    <img id="toggle-theme-icon" class="toggle-theme-icon" src="/public/assets/icons/moon.png" alt="">
                </div>
            </div>
        </nav>
    </header>
    <section class="container-geography">
        <div class="head">
            <h1 data-section="principal-geography" data-value="title-principal">Geography</h1>
            <h2 data-section="principal-geography" data-value="subtitle">Regions</h2>
            <p data-section="principal-geography" data-value="description">Nestled in the heart of Europe, Germany's diverse geography unfolds from the majestic Alps to the charming Black Forest and serene Baltic Sea, creating a captivating backdrop that harmonizes modern cities with timeless villages.</p>
        </div>

        <div class="container-geography-region">
            <h2 data-section="panel-geography" data-value="title-one">Bavaria</h2>
            <p data-section="panel-geography" data-value="description-one"> <b>Description:</b> Located in the southeastern part of Germany, Bavaria is known for its picturesque landscapes, charming villages, and cultural richness. It has a strong cultural identity and is home to traditional events like Oktoberfest.<br><br>
                <b>Notable Cities:</b> Munich, Nuremberg.
            </p>
            <h3 data-section="panel-geography" data-value="mini-title">Landmarks</h3>
            <div class="container-geography-region-landmarks">
                <div class="landmark">
                    <img src="/public/assets/img/geography/bavaria/neuschwanstein-castle-1.jpg" alt="">
                    <h4 data-section="panel-geography" data-value="subtitle-one-one">Neuschwanstein Castle</h4>
                </div>
                <div class="landmark">
                    <img src="/public/assets/img/geography/bavaria/zugspitze-1.jpg" alt="">
                    <h4 data-section="panel-geography" data-value="subtitle-one-two">Zugspitze</h4>
                </div>
                <div class="landmark">
                    <img src="/public/assets/img/geography/bavaria/berchtesgaden-national-park-1.jpg" alt="">
                    <h4 data-section="panel-geography" data-value="subtitle-one-three">Berchtesgaden National Park</h4>
                </div>
            </div>
        </div>
        <div class="container-geography-region">
            <h2 data-section="panel-geography" data-value="title-two">Baden-Württemberg</h2>
            <p data-section="panel-geography" data-value="description-two"> <b>Description:</b> Situated in the southwestern part of Germany, Baden-Württemberg is known for its historic cities, vineyards, and the Black Forest. It's a hub for technology and innovation.<br><br>
                <b>Notable Cities:</b> Stuttgart, Heidelberg.
            </p>
            <h3 data-section="panel-geography" data-value="mini-title">Landmarks</h3>
            <div class="container-geography-region-landmarks">
                <div class="landmark">
                    <img src="/public/assets/img/geography/baden-württemberg/heidelberg-castle-3.png" alt="">
                    <h4 data-section="panel-geography" data-value="subtitle-two-one">Heidelberg Castle</h4>
                </div>
                <div class="landmark">
                    <img src="/public/assets/img/geography/baden-württemberg/mercedes-benz-museum-1.jpg" alt="">
                    <h4 data-section="panel-geography" data-value="subtitle-two-two">Mercedes-Benz Museum</h4>
                </div>
                <div class="landmark">
                    <img src="/public/assets/img/geography/baden-württemberg/triberg-waterfalls-1.jpg" alt="">
                    <h4 data-section="panel-geography" data-value="subtitle-two-three">Triberg Waterfalls.</h4>
                </div>
            </div>
        </div>
        <div class="container-geography-region">
            <h2 data-section="panel-geography" data-value="title-three">Nordrhein-Westfalen</h2>
            <p data-section="panel-geography" data-value="description-three"> <b>Description:</b> Located in western Germany, this region is known for its industrial heritage, vibrant cities, and cultural diversity. It's the most populous state in Germany.<br><br>
                <b>Notable Cities:</b> Cologne, Düsseldorf.
            </p>
            <h3 data-section="panel-geography" data-value="mini-title">Landmarks</h3>
            <div class="container-geography-region-landmarks">
                <div class="landmark">
                    <img src="/public/assets/img/geography/north-rhine-westphalia/cologne-cathedral-1.jpg" alt="">
                    <h4 data-section="panel-geography" data-value="subtitle-three-one">Cologne Cathedral</h4>
                </div>
                <div class="landmark">
                    <img src="/public/assets/img/geography/north-rhine-westphalia/rhine-river-1.jpg" alt="">
                    <h4 data-section="panel-geography" data-value="subtitle-three-two">Rhine River</h4>
                </div>
                <div class="landmark">
                    <img src="/public/assets/img/geography/north-rhine-westphalia/movie-park-1.jpeg" alt="">
                    <h4 data-section="panel-geography" data-value="subtitle-three-three">Movie Park Germany</h4>
                </div>
            </div>
        </div>
        <div class="container-geography-region">
            <h2 data-section="panel-geography" data-value="title-four">Saxony</h2>
            <p data-section="panel-geography" data-value="description-four"> <b>Description:</b> Situated in the eastern part of Germany, Saxony is known for its historic architecture, cultural heritage, and scenic landscapes.<br><br>
                <b>Notable Cities:</b> Dresden, Leipzig.
            </p>
            <h3 data-section="panel-geography" data-value="mini-title">Landmarks</h3>
            <div class="container-geography-region-landmarks">
                <div class="landmark">
                    <img src="/public/assets/img/geography/saxony/zwinger-palace-3.jpg" alt="">
                    <h4 data-section="panel-geography" data-value="subtitle-four-one">Zwinger Palace</h4>
                </div>
                <div class="landmark">
                    <img src="/public/assets/img/geography/saxony/semperoper-1.jpg" alt="">
                    <h4 data-section="panel-geography" data-value="subtitle-four-two">Semperoper</h4>
                </div>
                <div class="landmark">
                    <img src="/public/assets/img/geography/saxony/saxon-switzerland-national-park-3.jpg" alt="">
                    <h4 data-section="panel-geography" data-value="subtitle-four-three">Saxon Switzerland National Park</h4>
                </div>
            </div>
        </div>
        <div class="container-geography-region">
            <h2 data-section="panel-geography" data-value="title-five">Hesse</h2>
            <p data-section="panel-geography" data-value="description-five"> <b>Description:</b> Located in central Germany, Hesse is known for its economic significance, historic sites, and cultural events.<br><br>
                <b>Notable Cities:</b> Frankfurt, Wiesbaden.
            </p>
            <h3 data-section="panel-geography" data-value="mini-title">Landmarks</h3>
            <div class="container-geography-region-landmarks">
                <div class="landmark">
                    <img src="/public/assets/img/geography/hesse/frankfurt's-skyline-1.jpg" alt="">
                    <h4 data-section="panel-geography" data-value="subtitle-five-one">Frankfurt's Skyline</h4>
                </div>
                <div class="landmark">
                    <img src="/public/assets/img/geography/hesse/römer-frankfurt-city-hall-1.jpeg" alt="">
                    <h4 data-section="panel-geography" data-value="subtitle-five-two">Römer</h4>
                </div>
                <div class="landmark">
                    <img src="/public/assets/img/geography/hesse/bergpark-wilhelmshöhe-1.jpg" alt="">
                    <h4 data-section="panel-geography" data-value="subtitle-five-three">Bergpark Wilhelmshöhe</h4>
                </div>
            </div>
        </div>

    </section>
    <footer>
        <p><b>©Josda Quinvar<br>2024</b></p>
    </footer>
    <script src="/public/logic/language.js"></script>
    <script src="/public/logic/theme.js"></script>
</body>
</html>