<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/assets/icons/germany.png" type="image/png">
    <link rel="stylesheet" href="/public/styles/global/variables.css">
    <link rel="stylesheet" href="/public/styles/global/menu.css">
    <link rel="stylesheet" href="/public/styles/global/head.css">
    <link rel="stylesheet" href="/public/styles/global/footer.css">
    <link rel="stylesheet" href="/public/styles/traditions.css">
    <title>Traditions</title>
</head>
<body>
    <header>
        <section class="flag">
            <div class="flag-size" id="flag-black"></div>
            <div class="flag-size" id="flag-red"></div>
            <div class="flag-size" id="flag-yellow"></div>
        </section>
        <nav class="menu">
            <ul>
                <li><a data-section="menu" data-value="title-one"t href="./index.html">Home</a></li>
                <li><a data-section="menu" data-value="title-two" href="./cuisine.html">Cuisine</a></li>
                <li><a data-section="menu" data-value="title-three" href="./geography.html">Geography</a></li>
                <li><a data-section="menu" data-value="title-four" href="./traditions.html">Traditions</a></li>
            </ul>
            <div id="flags" class="flags">
                <div class="flags-item" data-language="es">
                    <img src="/public/assets/icons/colombia.png" alt="">
                </div>
                <div class="flags-item" data-language="en">
                    <img src="/public/assets/icons/united-states.png" alt="">
                </div>
            </div>
            <div class="switches">
                <div id="toggle-theme" class="toggle-theme">
                    <img id="toggle-theme-icon" class="toggle-theme-icon" src="/public/assets/icons/moon.png" alt="">
                </div>
            </div>
        </nav>
    </header>
    <section class="container-traditions">
        <div class="head">
            <h1 data-section="principal-traditions" data-value="title-principal">Culture and Traditions</h1>
            <h2 data-section="principal-traditions" data-value="subtitle-one">Traditional Festivals and Celebrations</h2>
            <p data-section="principal-traditions" data-value="description">Germany's cultural tapestry weaves together ancient traditions and modern festivities, from the iconic Oktoberfest to the enchanting Christmas markets, offering a vibrant glimpse into the nation's rich heritage.</p>
        </div>

        <div class="container-traidtions-panel-wrapper">
            <h2 data-section="panel-traditions-culture-traditions" data-value="title-one">Oktoberfest</h2>
            <div class="container-traditions-panel">
                <img src="/public/assets/img/culture-traditions/traditional-festivals-celebrations/oktoberfest-1.jpg" alt=""/>
            </div>
            <p data-section="panel-traditions-culture-traditions" data-value="description-one"> <b>Location:</b> Munich, Bavaria. <br><br>
                <b>Description:</b> Originating in 1810 as a celebration of Bavarian Crown Prince Ludwig's wedding, Oktoberfest is the world's largest beer festival. Theresienwiese fairgrounds transform into a lively festival ground with traditional Bavarian music, food, and, of course, plenty of beer. <br><br>
                <b>Origin:</b> Royal wedding celebration that evolved into an annual tradition.
            </p>
        </div>
        <div class="container-traidtions-panel-wrapper">
            <h2 data-section="panel-traditions-culture-traditions" data-value="title-two"">Karneval</h2>
            <div class="container-traditions-panel">
                <img src="/public/assets/img/culture-traditions/traditional-festivals-celebrations/karneval-1.jpg" alt="">
            </div>
            <p data-section="panel-traditions-culture-traditions" data-value="description-two"> <b>Location:</b> Cologne, Düsseldorf, Mainz (Rhineland).<br><br>
                <b>Description:</b> Extravagant pre-Lenten celebration with elaborate costumes, parades, and street parties. Each city has unique traditions and themes during the Karneval season.<br><br>
                <b>Origin:</b> Ancient Roman and medieval European traditions merged with Christian festivities.
            </p>
        </div>
        <div class="container-traidtions-panel-wrapper">
            <h2 data-section="panel-traditions-culture-traditions" data-value="title-three">Weihnachtsmärkte</h2>
            <div class="container-traditions-panel">
                <img src="/public/assets/img/culture-traditions/traditional-festivals-celebrations/weihnachtsmärkte-1.jpg" alt="">
            </div>
            <p data-section="panel-traditions-culture-traditions" data-value="description-three"> <b>Location:</b> Nuremberg, Cologne, Dresden.<br><br>
                <b>Description:</b> Enchanting markets with handcrafted ornaments, seasonal treats, and festive lights. Nuremberg is known for its Christkindlesmarkt, Cologne for its Cathedral Christmas Market, and Dresden for its historic Striezelmarkt.<br><br>
                <b>Origin:</b> Dating back to the Late Middle Ages, these markets are a hallmark of German Christmas traditions.
            </p>
        </div>

        <h1 data-section="principal-traditions" data-value="subtitle-two">Historic Traditions</h1>
        
        <div class="container-traidtions-panel-wrapper">
            <h2 data-section="panel-traditions-historic-traditions" data-value="title-one">Walpurgisnacht</h2>
            <div class="container-traditions-panel">
                <img src="/public/assets/img/culture-traditions/historic-traditions/walpurgisnacht-1.jpg" alt="">
            </div>
            <p data-section="panel-traditions-historic-traditions" data-value="description-one">This pagan celebration, occurring on the night before May Day, involves bonfires to ward off witches and evil spirits. People gather, and in some regions, traditional plays or performances are staged.</p>
        </div>
        <div class="container-traidtions-panel-wrapper">
            <h2 data-section="panel-traditions-historic-traditions" data-value="title-two">Maypole Dancing</h2>
            <div class="container-traditions-panel">
                <img src="/public/assets/img/culture-traditions/historic-traditions/maypole-dancing-maibaum-1.png" alt="">
            </div>
            <p data-section="panel-traditions-historic-traditions" data-value="description-two">Erecting a Maypole involves a community effort. Each emblem on the pole represents a local trade or craft. The festivities include dances around the Maypole, often accompanied by music and traditional songs.</p>
        </div>
        <div class="container-traidtions-panel-wrapper">
            <h2 data-section="panel-traditions-historic-traditions" data-value="title-three">Easter Fires</h2>
            <div class="container-traditions-panel">
                <img src="/public/assets/img/culture-traditions/historic-traditions/easter-fires-osterfeuer-1.jpg" alt=""/>
            </div>
            <p data-section="panel-traditions-historic-traditions" data-value="description-three">Easter fires have both pagan and Christian roots. People light bonfires to symbolize the triumph of light over darkness. In some regions, there are also games and dances around the fire.</p>
        </div>

    </section>

    <footer>
        <p><b>©Josda Quinvar<br>2024</b></p>
    </footer>
    <script src="/public/logic/language.js"></script>
    <script src="/public/logic/theme.js"></script>
</body>
</html>